.container {
  margin: 50px auto;
  height: 100vh;
  box-sizing: content-box;
}

#loginform {
  width: 500px;
  height: 500px;
  box-shadow: 2px 4px 4px grey;
  margin: auto;
}

.table ,.card {
  width: 75%;
  border: 1px solid black;
  margin: 100px 200px;
}
input{
  margin:20px auto ;
  width: 70%;
  height: 40px;
  box-sizing: border-box;
}